<a href="https://colab.research.google.com/github/dwchangdev/ds-project/blob/main/n214a_logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 1 / NOTE 4*

# üìù Assignment
---

# Logistic Regression

Ïù¥Î≤àÏóêÎäî [**Cardiovascular Disease dataset**](https://www.kaggle.com/sulianova/cardiovascular-disease-dataset) Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏÇ¨Ïö©Ìï¥ Î¥ÖÏãúÎã§. Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïú ÏÑ§Î™ÖÏùÑ Ï∫êÍ∏Ä ÌéòÏù¥ÏßÄÏóêÏÑú Ïûò ÏÇ¥Ìé¥Î≥¥ÏãúÍ≥† Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî!

### 1) Îç∞Ïù¥ÌÑ∞Î•º Ï†ÑÏ≤òÎ¶¨ ÌïòÍ≤†ÏäµÎãàÎã§.
- Îç∞Ïù¥ÌÑ∞Î•º Î∂àÎü¨Ïò§ÏÑ∏Ïöî.(read_csv ÏÇ¨Ïö©)
- id ÏπºÎüºÏùÄ dropÌïòÏÑ∏Ïöî.
- missing valueÎ•º ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- Ï§ëÎ≥µÎêú ÏÉòÌîåÏù¥ ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- **Ï§ëÎ≥µÎêú ÏÉòÌîåÏùÑ Ï†úÍ±∞ÌïòÍ≥† ÎÇ®ÏùÄ ÏÉòÌîåÏùò ÏàòÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [16]:
# !pip install category_encoders

In [17]:
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/cardio/cardio_train.csv', sep=';')

# id Ïª¨Îüº ÏÇ≠Ï†ú
df.drop(columns = ['id'], inplace = True)

In [18]:
# Í≤∞Ï∏°Ïπò ÌôïÏù∏ -> ÏóÜÏùå
df.isna().value_counts()

age    gender  height  weight  ap_hi  ap_lo  cholesterol  gluc   smoke  alco   active  cardio
False  False   False   False   False  False  False        False  False  False  False   False     70000
dtype: int64

In [19]:
# Ï§ëÎ≥µÎêú ÏÉòÌîå ÌôïÏù∏
print(df[df.duplicated()==True])

         age  gender  height  weight  ap_hi  ...  gluc  smoke  alco  active  cardio
10562  20495       1     165    70.0    120  ...     1      0     0       1       0
21784  16793       1     165    68.0    120  ...     1      0     0       1       0
38505  18988       1     164    65.0    120  ...     1      0     0       1       0
40365  14552       1     158    64.0    120  ...     1      0     0       1       0
42450  18353       1     169    67.0    120  ...     1      0     0       1       0
44653  16937       2     170    70.0    120  ...     1      0     0       0       0
45125  21280       1     165    65.0    120  ...     1      0     0       1       0
45748  22077       1     175    69.0    120  ...     1      0     0       1       1
45810  21230       1     164    62.0    120  ...     1      0     0       1       0
48917  21945       1     165    60.0    120  ...     1      0     0       1       0
50432  17493       2     169    74.0    120  ...     1      0     0       1       1
52552  21943       1     165    65.0    120  ...     1      0     0       1       1
56643  17535       2     165    65.0    120  ...     1      0     0       1       0
56906  20293       1     162    70.0    110  ...     1      0     0       1       0
57946  18955       1     165    75.0    120  ...     1      0     0       1       1
58730  19858       1     165    68.0    120  ...     1      0     0       1       0
60453  20516       1     164    66.0    120  ...     1      0     0       0       0
60474  16805       1     157    67.0    120  ...     1      0     0       1       0
62318  18979       1     165    65.0    120  ...     1      0     0       0       0
64169  16160       1     168    65.0    120  ...     1      0     0       1       1
65079  18210       1     160    60.0    120  ...     1      0     0       1       0
65622  21778       1     160    58.0    120  ...     1      0     0       1       0
66190  19059       1     165    65.0    120  ...     1      0     0       1       1
68281  21119       1     160    60.0    120  ...     1      0     0       0       1

[24 rows x 12 columns]

In [20]:
# Ï§ëÎ≥µÍ∞í Ï†úÍ±∞
df.drop_duplicates(inplace = True)

In [21]:
# Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÌôïÏù∏ -> ÎÇ®ÏùÄ ÏÉòÌîå Í∞úÏàò 69,976Í∞ú
df

         age  gender  height  weight  ap_hi  ...  gluc  smoke  alco  active  cardio
0      18393       2     168    62.0    110  ...     1      0     0       1       0
1      20228       1     156    85.0    140  ...     1      0     0       1       1
2      18857       1     165    64.0    130  ...     1      0     0       0       1
3      17623       2     169    82.0    150  ...     1      0     0       1       1
4      17474       1     156    56.0    100  ...     1      0     0       0       0
...      ...     ...     ...     ...    ...  ...   ...    ...   ...     ...     ...
69995  19240       2     168    76.0    120  ...     1      1     0       1       0
69996  22601       1     158   126.0    140  ...     2      0     0       1       1
69997  19066       2     183   105.0    180  ...     1      0     1       0       1
69998  22431       1     163    72.0    135  ...     2      0     0       0       1
69999  20540       1     170    72.0    120  ...     1      0     0       1       0

[69976 rows x 12 columns]

### 2) Îã§Ïö¥Î°úÎìú Ìïú ÌõàÎ†® Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®/Í≤ÄÏ¶ù/ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏Î°ú ÎÇòÎàÑÏñ¥ Ï£ºÏÑ∏Ïöî.
- ÌÉÄÍ≤ü ÌäπÏÑ±ÏùÑ ÌôïÏù∏ÌïòÍ≥† ÌÉÄÍ≤ü Î≥ÄÏàòÎ•º ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§.
- ÌõàÎ†®Í≥º ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§(train_test_split ÏÇ¨Ïö©, train/test = 80/20, random_state=2)
- ÌõàÎ†®Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®Í≥º Í≤ÄÏ¶ùÎç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§(train_test_split ÏÇ¨Ïö©, train/validation = 80/20, random_state=2)
- **Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞(X_val)Ïùò Í∞ØÏàòÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [22]:
from sklearn.model_selection import train_test_split

features = df.drop(columns = ['cardio'])
target = df['cardio']

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.2, train_size = 0.8, random_state = 2)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size = 0.2, train_size = 0.8, random_state = 2)

X_val

         age  gender  height  weight  ...  gluc  smoke  alco  active
36174  20787       1     168    67.0  ...     3      0     0       1
4101   20578       2     176    80.0  ...     1      1     1       1
19924  18368       2     174    78.0  ...     1      0     0       1
41995  17415       2     177    62.0  ...     1      1     0       1
39939  23303       2     168    98.0  ...     3      1     0       1
...      ...     ...     ...     ...  ...   ...    ...   ...     ...
67206  16823       1     155    63.0  ...     1      0     0       0
25036  22517       1     141    60.0  ...     3      0     0       0
12153  15245       2     165    64.0  ...     1      0     0       1
25375  18260       2     170    70.0  ...     3      0     0       1
65039  21954       1     159    65.0  ...     1      0     0       0

[11196 rows x 11 columns]

### 3) ÏÇ¨Ïù¥ÌÇ∑Îü∞Ïùò LogisticRegressionÏùÑ ÏÇ¨Ïö©Ìï¥ Î™®Îç∏ÏùÑ ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî.
- Î™®Îç∏ÏùÑ ÎßåÎì§Í∏∞ Ï†ÑÏóê Í∏∞Ï§ÄÎ™®Îç∏ÏùÑ ÏÑ§Ï†ïÌï©ÎãàÎã§.
- **LogisticRegression Î™®Îç∏ÏùÑ ÌïôÏäµÌïòÍ≥†(max_iter=1000) Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [23]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

# Î∂ÑÎ•òÎ¨∏Ï†úÏóêÏÑúÎäî Î≥¥ÌÜµ ÌÉÄÍ≤ü Î≥ÄÏàòÏóêÏÑú Í∞ÄÏû• ÎπàÎ≤àÌïòÍ≤å ÎÇòÌÉÄÎÇòÎäî Î≤îÏ£ºÎ•º Í∏∞Ï§ÄÎ™®Îç∏Î°ú ÏÑ§Ï†ïÌï©ÎãàÎã§.
major = y_train.mode()[0]

y_pred = [major] * len(y_train)

print("training accuracy: ", accuracy_score(y_train, y_pred))

y_pred = [major] * len(y_val)
print("validation accuracy: ", accuracy_score(y_val, y_pred))

training accuracy:  0.501697034655234
validation accuracy:  0.49821364773133264

In [24]:
logistic = LogisticRegression(max_iter = 1000)
logistic.fit(X_train, y_train)

print("Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ :", logistic.score(X_val, y_val))

Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ : 0.7073061807788495

### 4) Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Î≤îÏ£ºÌòï ÏÑ±ÏßàÏùÑ ÏßÄÎãå ÌäπÏÑ±ÏùÑ Ï∞æÏïÑ ÏõêÌï´Ïù∏ÏΩîÎî© ÌïòÏÑ∏Ïöî.
- category_encodersÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú 'gender' ÌäπÏÑ±Îßå ÏõêÌï´Ïù∏ÏΩîÎî© ÌïòÏÑ∏Ïöî.
- LogisticRegression Î™®Îç∏ÏùÑ Îã§Ïãú ÌïôÏäµÌï©ÎãàÎã§.
- **Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [25]:
# ÏõêÌï´Ïù∏ÏΩîÎî©
from category_encoders import OneHotEncoder

# Ïù∏ÏΩîÎî© Í∞ùÏ≤¥ ÏÉùÏÑ±, gender Ïª¨ÎüºÎßå Ïù∏ÏΩîÎî©
encoder = OneHotEncoder(use_cat_names=True, cols="gender")

# ÌõàÎ†®Ïö© Îç∞Ïù¥ÌÑ∞ fit_transform
X_train_encoded = encoder.fit_transform(X_train)

# Í≤ÄÏ¶ùÏö© Îç∞Ïù¥ÌÑ∞ : transform
X_val_encoded = encoder.transform(X_val)

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [26]:
# Î°úÏßÄÏä§Ìã± ÌöåÍ∑ÄÎ™®Îç∏ ÏÉùÏÑ± Î∞è ÌõàÎ†®
# Í∞ùÏ≤¥ ÏÉùÏÑ±
logistic = LogisticRegression(max_iter=1000)

# Î™®Îç∏ ÌõàÎ†® : Ïù∏ÏΩîÎî© ÏôÑÎ£åÌïú Îç∞Ïù¥ÌÑ∞ ÏÇ¨Ïö© (X_train_encoded)
logistic.fit(X_train_encoded, y_train)

# Í≤ÄÏ¶ùÏÑ∏Ìä∏Ïùò Ï†ïÌôïÎèÑ Ï∏°Ï†ï : X_val_encoded, y_valÏÇ¨Ïö©, score ÏÜçÏÑ± ÏÇ¨Ïö©
print('Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ', logistic.score(X_val_encoded, y_val))

Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ 0.6944444444444444

### 5) ÌïôÏäµÌïú Î™®Îç∏ÏùÑ Í≤ÄÏ¶ùÏÑ∏Ìä∏ÏóêÏÑú ÏµúÏ†ÅÌôî ÏãúÌÇ® ÌõÑ, ÌÖåÏä§Ìä∏ÏÑ∏Ìä∏ÏóêÏÑú Îî± Ìïú Î≤à Ï†ïÌôïÎèÑÎ•º ÌôïÏù∏Ìï¥ Î≥¥ÏÑ∏Ïöî.
- **ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.(0.712 Ïù¥ÏÉÅ)**

In [27]:
# ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ featuresÏôÄ target Î∂ÑÎ¶¨
y_test = target
X_test = features

# ÌôïÏù∏
print("ÌÖåÏä§Ìä∏Ïö© Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏ / features: {0}, target{1}".format(X_test.shape, y_test.shape))

ÌÖåÏä§Ìä∏Ïö© Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏ / features: (69976, 11), target(69976,)

In [28]:
# 1) ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞(C) Ï°∞Ï†ï
# Í∞ùÏ≤¥ ÏÉùÏÑ± & Î™®Îç∏ ÌõàÎ†®
logistic_001 = LogisticRegression(C=0.01, max_iter=1000).fit(X_train_encoded, y_train)
logistic_01 = LogisticRegression(C=0.1, max_iter=1000).fit(X_train_encoded, y_train)
logistic = LogisticRegression(max_iter=1000).fit(X_train_encoded, y_train)
logistic_1 = LogisticRegression(C=1, max_iter=1000).fit(X_train_encoded, y_train)
logistic_10 = LogisticRegression(C=10, max_iter=1000).fit(X_train_encoded, y_train)


# Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞ÏÖãÏúºÎ°ú Ï†ïÌôïÎèÑ Ï∏°Ï†ï
print('C=0.01 Ï†ïÌôïÎèÑ', logistic_001.score(X_val_encoded, y_val))
print('C=0.1 Ï†ïÌôïÎèÑ', logistic_01.score(X_val_encoded, y_val))
print('C=default Ï†ïÌôïÎèÑ', logistic.score(X_val_encoded, y_val))
print('C=1 Ï†ïÌôïÎèÑ', logistic_1.score(X_val_encoded, y_val))
print('C=10 Ï†ïÌôïÎèÑ', logistic_10.score(X_val_encoded, y_val))

C=0.01 Ï†ïÌôïÎèÑ 0.6942658092175777
C=0.1 Ï†ïÌôïÎèÑ 0.7094498035012504
C=default Ï†ïÌôïÎèÑ 0.6944444444444444
C=1 Ï†ïÌôïÎèÑ 0.6944444444444444
C=10 Ï†ïÌôïÎèÑ 0.7093604858878171

In [29]:
# 2) ÌëúÏ§ÄÌôî
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_encoded)
X_val_scaled = scaler.transform(X_val_encoded)

# Í∞ùÏ≤¥ ÏÉùÏÑ± & Î™®Îç∏ ÌõàÎ†®
logistic_001_scaled = LogisticRegression(C=0.01, max_iter=1000).fit(X_train_scaled, y_train)
logistic_01_scaled = LogisticRegression(C=0.1, max_iter=1000).fit(X_train_scaled, y_train)
logistic_scaled = LogisticRegression(max_iter=1000).fit(X_train_scaled, y_train)
logistic_1_scaled = LogisticRegression(C=1, max_iter=1000).fit(X_train_scaled, y_train)
logistic_10_scaled = LogisticRegression(C=10, max_iter=1000).fit(X_train_scaled, y_train)

# Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞ÏÖãÏúºÎ°ú Ï†ïÌôïÎèÑ Ï∏°Ï†ï
print('C=0.01 Ï†ïÌôïÎèÑ', logistic_001_scaled.score(X_val_scaled, y_val))
print('C=0.1 Ï†ïÌôïÎèÑ', logistic_01_scaled.score(X_val_scaled, y_val))
print('C=default Ï†ïÌôïÎèÑ', logistic_scaled.score(X_val_scaled, y_val))
print('C=1 Ï†ïÌôïÎèÑ', logistic_1_scaled.score(X_val_scaled, y_val))
print('C=10 Ï†ïÌôïÎèÑ', logistic_10_scaled.score(X_val_scaled, y_val))

C=0.01 Ï†ïÌôïÎèÑ 0.7057877813504824
C=0.1 Ï†ïÌôïÎèÑ 0.721686316541622
C=default Ï†ïÌôïÎèÑ 0.723383351196856
C=1 Ï†ïÌôïÎèÑ 0.723383351196856
C=10 Ï†ïÌôïÎèÑ 0.7237406216505895

In [30]:
# Îç∞Ïù¥ÌÑ∞ ÌëúÏ§ÄÌôî ÏûëÏóÖÏù¥ Î™®Îç∏ ÏµúÏ†ÅÌôîÏóê ÎçîÏö± Ìö®Í≥ºÏ†ÅÏù∏ Í≤É Í∞ôÎã§.
# ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ÎèÑ ÎòëÍ∞ôÏù¥ ÌëúÏ§ÄÌôî ÌõÑ Î™®Îç∏ ÌïôÏäµÏùÑ ÏßÑÌñâÌï¥ Î≥∏Îã§.

# testÎç∞Ïù¥ÌÑ∞Ïùò gender ÏõêÌï´Ïù∏ÏΩîÎî©
X_test_encoded = encoder.transform(X_test)

# testÎç∞Ïù¥ÌÑ∞ ÌëúÏ§ÄÌôî
X_test_scaled = scaler.transform(X_test_encoded)

# testÎç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏßÄÍ≥† ÏòàÏ∏° (1Ìöå) -> Ï†ïÌôïÎèÑ UP
print('ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ', logistic_scaled.score(X_test_scaled, y_test))

ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ 0.7223619526694867

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú:

### 6) EDAÎ•º Ï∂îÍ∞ÄÏ†ÅÏúºÎ°ú ÏàòÌñâÌïòÍ≥† Í∞ÄÎä•Ìïú Î∞©Î≤ïÏúºÎ°ú Î™®Îç∏ÏùÑ ÌäúÎãùÌï¥ÏÑú Í≤∞Í≥ºÎ•º ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî. ÏµúÏÜåÌïú Îã§Ïùå ÎÇ¥Ïö©Îì§Ïù¥ Ìè¨Ìï®Ïù¥ ÎêòÏñ¥Ïïº Ìï©ÎãàÎã§.
- ÏÉàÎ°úÏö¥ ÌäπÏÑ±ÏùÑ ÏµúÏÜåÌïú Ìïú Í∞ú Ïù¥ÏÉÅ ÎßåÎìúÏÑ∏Ïöî.
- ÌäπÏÑ±Îì§ÏùÑ ÌôïÏù∏Ìï¥ÏÑú ÏïÑÏõÉÎùºÏù¥Ïñ¥ÎùºÍ≥† ÏÉùÍ∞ÅÎêòÎäî Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏßÑ ÏÉòÌîåÏùÑ Ï†úÍ±∞ÌïòÏÑ∏Ïöî.
- [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) ÏùÑ ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî. (Ïó¨Îü¨Í∞ÄÏßÄ Ï¢ÖÎ•òÏùò ScalarÎ•º Ïñ¥Îñ§ ÏÉÅÌô©Ïóê Ï†ÅÏö©Ìï¥Ïïº ÌïòÎäîÏßÄ ÏïåÏïÑÎ≥¥Í≥† ÏÇ¨Ïö©Ìï¥ Î≥¥ÏÑ∏Ïöî.)
- ÎßåÎì§Ïñ¥ÏßÑ Î™®Îç∏ ÏÑ±Îä•ÏùÑ Î¶¨Ìè¨ÌåÖÌïòÍ≥† Ìï¥ÏÑùÌï©ÎãàÎã§.